# Google Earth Engine Project Configuration
# If using user OAuth authentication via `earthengine authenticate`:
EE_PROJECT_ID=

# Or if using Service Account credentials:
# EE_SERVICE_ACCOUNT=your-service-account@project.iam.gserviceaccount.com
# EE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
# EE_SERVICE_ACCOUNT_KEY=/path/to/service-account-key.json

# Server logging level (DEBUG, INFO, WARNING, ERROR)
LOG_LEVEL=INFO
